body *{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
}

body {
  background-color: rgb(174, 183, 236);
}

.page {
  width: 1300px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  border: 0.5px solid black;
  width: 100%;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 40px;
}

.small-font {
  font-size: 14px;
}
